@require 'material-icons.styl'
@require 'normalize.styl'
@require 'variables.styl'

*
  box-sizing: border-box
  cursor: default
  user-select: none

body
  font-family: $baseFont
  font-size: $baseFontSize
  background: $baseBgColor
  color: $baseTextColor
  overflow: hidden

:global body.disabled
  pointer-events: none
