html
  font-family: sans-serif
  -webkit-text-size-adjust: 100%

body
  margin: 0

a
  background-color: transparent

a:active,
a:hover
  outline: 0

img
  border: 0

svg:not(:root)
  overflow: hidden

button,
input,
optgroup,
select,
textarea
  color: inherit
  font: inherit
  margin: 0

button
  overflow: visible

button,
select
  text-transform: none

button,
html input[type="button"],
input[type="reset"],
input[type="submit"]
  -webkit-appearance: button
  cursor: pointer

button[disabled],
html input[disabled]
  cursor: default

button::-moz-focus-inner,
input::-moz-focus-inner
  border: 0
  padding: 0

input
  line-height: normal

input[type="checkbox"],
input[type="radio"]
  box-sizing: border-box
  padding: 0

textarea
  overflow: auto
