:global

  .clipper
    position: relative
    height: 100%

  .scroller
    height: 100%

    &::-webkit-scrollbar
      width: 0
      height: 0

  .track
    display: none
    position: absolute
    top: 0
    bottom: 2px
    right: 2px
    width: 6px

    opacity: 0
    transition: opacity 0.3s

    :global .baron &
      display: block

    :global .clipper:hover &
      opacity: 1

  .bar
    position: absolute
    right: 0
    width: 6px
    background: rgba(#CCC, 0.4)
