// Colors
$baseBgColor = #282828
$baseTextColor = #808080
$accentColor = #E6821E

// Typography
$baseFont = Arial, sans-serif
$baseFontSize = 12px

// Toolbar
$toolbarHeight = 50px
$toolbarBg = #262626

// Player
$playerHeaderHeight = 90px
$playerBarHeight = 30px
$playerBarBg = #333
