@require '../../styles/variables.styl'

.wrap
  display: flex
  justify-content: center
  align-items: center

  height: $playerHeaderHeight

  border-bottom: 1px solid $accentColor
  background: linear-gradient(#4A4A4A, #333)

  -webkit-app-region: drag

.logo
  font-size: 28px
  color: #231f20
  text-shadow: 1px 1px #4A4A4A
  letter-spacing: 6px
