@require '../../styles/variables.styl'

.wrap
  display: flex
  height: $playerHeaderHeight
  background: linear-gradient(#4A4A4A, #333)

  -webkit-app-region: drag

  &:hover

    .main
      transition: transform 0.3s 0s
      transform: translateY(-32px)

.quit
  position: absolute
  z-index: 1
  top: 2px
  left: 1px

  padding-right: 5px
  padding-bottom: 5px

  color: #3A3A3A
  text-shadow: 0 1px #484848, 0 -1px #303030

  -webkit-app-region: no-drag

  :global .material-icons
    font-size: 14px

  &:hover
    color: #2A2A2A

.logo
  display: flex
  flex-grow: 1
  justify-content: center
  align-items: center

  font-size: 28px
  letter-spacing: 6px

  color: #231f20
  border-bottom: 1px solid $accentColor
  text-shadow: 1px 1px #4A4A4A

.content
  flex-grow: 1
  height: 82px
  overflow: hidden

.main
  position: relative
  width: 100%
  padding: 66px 10px 0
  transition: transform 0.3s 1s

.artistLine
  position: absolute
  top: 48px
  left: 10px
  right: 10px

.artist,
.album
  position: absolute
  top: 0
  right: 0
  left: 0

  overflow: hidden
  text-overflow: ellipsis
  white-space: nowrap

  font-size: 13px
  color: #C0C0C0
  text-shadow: 0 -1px #222

.artist
  animation: artist 14s infinite

.album
  animation: album 14s infinite

.titleLine
  display: flex
  justify-content: space-between

.title
  font-size: 16px
  line-height: 16px
  color: #FFF
  text-shadow: 0 -1px #1E1E1E

  white-space: nowrap
  overflow: hidden
  text-overflow: ellipsis
  max-width: 245px

.time
  font-size: 10px
  line-height: 16px
  color: #C0C0C0
  text-shadow: 0 -1px #1E1E1E

.progress
  position: absolute
  top: 82px
  left: 0
  right: 0
  z-index: 10

  padding: 6px 0

  -webkit-app-region: no-drag

.progressActive
  composes: progress

.progress:hover,
.progressActive
  & .progressLine
    min-width: 2px !important

    &:after
      display: block

.progressBg
  height: 1px
  background: #202020

.progressLine
  position: absolute
  left: 0
  top: 6px

  height: 1px

  background: $accentColor

  &:after
    display: none

    position: absolute
    right: 0
    top: -5px

    height: 11px
    width: 2px

    content: ''
    background: $accentColor


@keyframes artist
  0%
    opacity: 1

  40%
    opacity: 1

  50%
    opacity: 0

  90%
    opacity: 0

  100%
    opacity: 1

@keyframes album
  0%
    opacity: 0

  40%
    opacity: 0

  50%
    opacity: 1

  90%
    opacity: 1

  100%
    opacity: 0
