.wrap
  display: flex
  padding: 10px 0

  -webkit-app-region: no-drag

.button
  display: flex

  padding: 0
  outline: none
  cursor: default

  border: 0
  background: none
  color: #202020

.shuffle,
.shuffleActive,
.repeat,
.repeatActive
  composes: button
  margin-right: 10px

  :global .material-icons
    font-size: 18px

.repeat,
.shuffle
  text-shadow: 0 1px rgba(#FFF, 0.1)

.shuffle,
.shuffleActive
  margin-left: 11px

.shuffleActive,
.repeatActive
  color: #FFF
  text-shadow: 0 1px rgba(#000, 0.9)
