@require '../../styles/variables.styl'

.common
  display: flex

.current
  composes: common
  box-shadow: inset 1px 0 $accentColor

.selected
  composes: common
  position: relative
  background: #FFF

.index
  padding: 13px 20px 13px 15px

.info
  display: flex
  flex-grow: 1
  justify-content: space-between
  padding: 13px 15px 13px 0
  box-shadow: 0 0.5px #303030

.name
  display: flex
  max-width: 220px
  overflow: hidden
  white-space: nowrap

.title
  flex-shrink: 2
  min-width: 50px
  padding-right: 5px
  overflow: hidden
  text-overflow: ellipsis
  color: #FFF

  .selected &
    color: #2C2C2C

.artist
  flex-shrink: 1
  overflow: hidden
  min-width: 30px
  text-overflow: ellipsis

.duration
  flex-shrink: 0
